@use 'theme';

.grid {
    width: auto;
    height: auto;
    margin: 66px 10px;
    display: grid;
    grid: "card";
}

// Components

.top-app-bar {
    width: 100%;
    height: 56px;
    position: fixed;

    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    
    background-color: theme.$color-primary;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.top-app-bar h3 {
    color: theme.$color-on-primary;
    margin: 16px auto 16px 72px;
    width: auto;
}

.comp-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 16px;
    grid-area: card;
}
