@import "vars";

$color-title-shadow-90-dark: #ffffff1a;
$color-title-shadow-90-light: #0000001a;
$color-title-shadow-dark: #ffffff34;
$color-title-shadow-light: #00000034;

$color-stats-stat-dark: #ffffffb0;
$color-stats-stat-light: #000000b0;
$color-stats-stat-unit-dark: #ffffffb0;
$color-stats-stat-unit-light: #000000b0;

$color-title-shadow-90: $color-title-shadow-90-dark;
$color-title-shadow: $color-title-shadow-dark;
$color-stats-stat: $color-stats-stat-dark;
$color-stats-stat-unit: $color-stats-stat-unit-dark;

@if $theme == 1 {
    $color-title-shadow-90: $color-title-shadow-90-light;
    $color-title-shadow: $color-title-shadow-light;
    $color-stats-stat: $color-stats-stat-light;
    $color-stats-stat-unit: $color-stats-stat-unit-light;
}

// Transition times
$transition-line-expand: 800ms;
$transition-title-flickerin: 500ms;
$transition-controls-profile-height-unit: 1s; // When changing this, update app.js: height_unit_changeUnit()
$transition-display: 800ms;

body {
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
}

header img {
    display: inline;
}

#title {
    opacity: 0;

    animation-name: title-flickerin;
    animation-duration: $transition-title-flickerin;
    animation-delay: $transition-line-expand;
    animation-fill-mode: forwards;
}

#line-top {
    top: 20%;
    height: 2px;

    animation-name: line-expandx;
}

#line-left {
    bottom: 0;
    left: 20%;
    width: 2px;

    animation-name: line-expandy;
    box-shadow: inherit 1px inherit;
}

#line-right {
    bottom: 0;
    right: 30%;
    width: 2px;

    animation-name: line-expandy;
    box-shadow: inherit 1px inherit inherit;
}

.line {
    position: absolute;
    background-color: $color-primary;
    @if $theme == 0 {
        box-shadow: 0 0 2px $color-primary;
    }

    animation-duration: $transition-line-expand;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.noClear {
    clear: none;
    display: inline;
}

// Stats grid
.stats {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 20%;
    height: 80%;

    display: grid;
    grid-template-areas:
        "pressure"
        "humidity"
        "temperature";

    opacity: 0;
    text-align: center;

    animation-name: fadein;
    animation-duration: $transition-display;
    animation-delay: $transition-line-expand + $transition-title-flickerin;
    animation-fill-mode: forwards;
}

.stats h2 {
    font-weight: 500;
    font-size: 1em;

    color: $color-stats-stat;
}

.stats > div {
    margin: auto;
}

.stats > div > div {
    font-size: 3em;
}

.stats .stat-unit {
    font-size: 0.5em;
    color: $color-stats-stat-unit;
    display: inline;

    margin-left: 5px;
}

#stats-pressure {
    grid-area: pressure;
}

#stats-humidity {
    grid-area: humidity;
}

#stats-temperature {
    grid-area: temperature;
}

// Logo
#logo {
    margin: auto;

    width: 200px;
    max-width: 50%;
}

// Controls
.controls {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30%;
    height: 80%;
    padding: 10px;

    opacity: 0;
    text-align: center;

    animation-name: fadein;
    animation-duration: $transition-display;
    animation-delay: $transition-title-flickerin + $transition-line-expand;
    animation-fill-mode: forwards;
}

.inactive {
    opacity: 0;
    display: none;
}

.active {
    animation: fadein $transition-input-fade;
}

#controls-profile-disease {
    width: 200px;
}

#controls-profile-submit-wrapper {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 40px auto auto auto;
}

#controls-profile-submit {
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: $color-secondary;
    border-radius: 25px;
}

#controls-profile-submit-wrapper span {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1.2em;
    text-align: center;
    top: calc((50px - 1.2em)/2);
    left: 0;
    
    color: $color-on-secondary;
    font-family: Inter;
    font-size: 1.2em;
}

// Animations
@keyframes line-expandx {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes line-expandy {
    from {
        height: 0%;
    }
    to {
        height: 80%;
    }
}

@keyframes title-flickerin {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 50%;
    }

    50% {
        opacity: 20%;
    }

    70% {
        opacity: 30%;
        text-shadow: 0 0 10px transparent;
    }

    90% {
        opacity: 1;
        text-shadow: 0 0 10px $color-title-shadow-90;
    }

    100% {
        opacity: 1;
        text-shadow: 0 0 10px $color-title-shadow;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
