@import 'vars';

body {
    background-color: $color-bg;
    color: $color-on-bg;
}

// Styles for elements

// Icons
.icon {
    font-size: 1.2em;
    margin-right: 10px;
    color: $color-primary;
}

.icon-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    padding: auto;

    border: none;
    outline: none;
    cursor: pointer;
    
    &:focus {
        background: #ffffff1a;
    }
}

.icon-button .icon {
    width: 100%;
    color: $color-on-input;
}

// Inputs

// Hides arrows on number inputs
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Firefox
input, select, textarea {
    width: 5em;
    background: $color-input;
    color: $color-on-input;

    border: transparent 2px solid;
    border-radius: 5px;
    margin-bottom: 0.5em;
    padding: 0.4em;
    box-sizing: border-box;

    transition: border $transition-input-fade;

    &:focus {
        outline: none;
        border: $color-on-input 2px solid;
    }

    &:invalid {
        box-shadow: none;
        border: $color-error 2px solid;
    }

    &:invalid:focus {
        border: $color-error-focus 2px solid;
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }
}

input::placeholder, textarea::placeholder {
    color: $color-input-placeholder;
    padding: 5px;
}

input[type=number] {
    width: 5em;
}

input[type=submit] {
    min-width: 100%;
    max-width: 300px;
    height: 100%;
    margin: 0;

    background-color: $color-secondary;
    border-radius: 25px;
}

/* Buttons */
button {
    background: $color-secondary;

    &:focus {
        outline: none;
        border: $color-on-input 2px solid;
    }
}

/* Textareas */

textarea {
    width: 14em;
    height: 6em;
    resize: none;
}

/* Selects */

option {
    background-color: $color-bg;
}