// Paths are relative to build folder

// Configurations: When updating this, also update app.scss
// Colors
$color-primary: #4635e2;
$color-on-primary: #fff;
$color-secondary: #262938;
$color-on-secondary: #fff;

// Transition times
$input-fade-transition: 200ms;

@import url(https://rsms.me/inter/inter.css);
html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype") 400,
        url(../fonts/Roboto-Italic.ttf) format("truetype") 500 italic,
        url(../fonts/Roboto-Medium.ttf) format("truetype") 500,
        url(../fonts/Roboto-MediumItalic.ttf) format("truetype") 500 italic;
}

@mixin typography-styles-headline1 {
    font-family: unquote("Inter");
    font-weight: 300;
    font-size: 93;
}
@mixin typography-styles-headline2 {
    font-family: unquote("Inter");
    font-weight: 300;
    font-size: 58;
}
@mixin typography-styles-headline3 {
    font-family: unquote("Inter");
    font-weight: 400;
    font-size: 47;
}
@mixin typography-styles-headline4 {
    font-family: unquote("Inter");
    font-weight: 400;
    font-size: 33;
}
@mixin typography-styles-headline5 {
    font-family: unquote("Inter");
    font-weight: 400;
    font-size: 23;
}
@mixin typography-styles-headline6 {
    font-family: unquote("Inter");
    font-weight: 500;
    font-size: 19;
}
@mixin typography-styles-body1 {
    font-family: unquote("Roboto");
    font-weight: 400;
    font-size: 16;
}
@mixin typography-styles-body2 {
    font-family: unquote("Roboto");
    font-weight: 500;
    font-size: 14;
}
@mixin typography-styles-subtitle1 {
    font-family: unquote("Inter");
    font-weight: 400;
    font-size: 16;
}
@mixin typography-styles-subtitle2 {
    font-family: unquote("Inter");
    font-weight: 400;
    font-size: 14;
}
@mixin typography-styles-button {
    font-family: unquote("Roboto");
    font-weight: 500;
    font-size: 14;
    letter-spacing: 1.25px;
}
@mixin typography-styles-overline {
    font-family: unquote("Roboto");
    font-weight: 400;
    font-size: 10;
}
@mixin typography-styles-caption {
    font-family: unquote("Roboto");
    font-weight: 400;
    font-size: 12;
}

h1 {
    @include typography-styles-headline1;
}
h2 {
    @include typography-styles-headline2;
}
h3 {
    @include typography-styles-headline3;
}
h4 {
    @include typography-styles-headline4;
}
h5 {
    @include typography-styles-headline5;
}
h6 {
    @include typography-styles-headline6;
}
body {
    @include typography-styles-body1;
}
.body1 {
    @include typography-styles-body1;
}
.body2 {
    @include typography-styles-body2;
}
.subtitle1 {
    @include typography-styles-subtitle1;
}
.subtitle2 {
    @include typography-styles-subtitle2;
}
button {
    @include typography-styles-button;
}
.overline {
    @include typography-styles-overline;
}
figcaption {
    @include typography-styles-caption;
}
.caption {
    @include typography-styles-caption;
}

// Styles for elements

// Inputs

// Hides arrows on number inputs
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Firefox
input {
    width: 100px;
    background-color: #ffffff20;
    color: #fff;

    border: transparent 2px solid;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;

    transition: border $input-fade-transition;

    &:focus {
        outline: none;
        border: #fff 2px solid;
    }

    &:invalid {
        box-shadow: none;
        border: #f55 2px solid;
    }

    &:invalid:focus {
        border: #faa 2px solid;
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }
}

input::placeholder {
    color: #ffffffb0;
    padding: 5px;
}

/* Selects */

select {
    background-color: #ffffff20;
    color: #fff;
    border: transparent 2px solid;

    transition: border $input-fade-transition;

    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    &:focus {
        outline: none;
        border: #fff 2px solid;
    }
}

option {
    background-color: #000;
}