// Paths are relative to build folder

// Colors
$color-primary: #4635e2;
$color-on-primary: #fff;
$color-secondary: #262938;
$color-on-secondary: #fff;

$theme: 1; // 0: dark, 1: light

$color-bg-dark: #000;
$color-bg-light: #fff;
$color-on-bg-dark: #fff;
$color-on-bg-light: #000;

$color-input-dark: #ffffff20;
$color-input-light: #00000010;
$color-input-placeholder-dark: #ffffffb0;
$color-input-placeholder-light: #000000b0;
$color-on-input-dark: #fff;
$color-on-input-light: #000;

$color-input-error-dark: #f55;
$color-input-error-light: #f11;
$color-input-error-focus-dark: #faa;
$color-input-error-focus-light: #f66;

$color-bg: $color-bg-dark;
$color-on-bg: $color-on-bg-dark;
$color-input: $color-input-dark;
$color-input-placeholder: $color-input-placeholder-dark;
$color-on-input: $color-on-input-dark;
$color-input-error: $color-input-error-dark;
$color-input-error-focus: $color-input-error-focus-dark;

@if $theme == 1 {
    $color-bg: $color-bg-light;
    $color-on-bg: $color-on-bg-light;
    $color-input: $color-input-light;
    $color-input-placeholder: $color-input-placeholder-light;
    $color-on-input: $color-on-input-light;
    $color-input-error: $color-input-error-light;
    $color-input-error-focus: $color-input-error-focus-light;
}

// Transition times
$transition-input-fade: 200ms;